<% layout("/layouts/boilerplate.ejs")%>

<div class="container mt-5 d-flex justify-content-center">
  <div class="card" style="width: 80rem;">
    <h1 class="card-header">Listing Details</h1>
    <img src="<%= listing.image %>" class="card-img-top" alt="listing_image" style="height: 30rem; width: 10rem;">
    <div class="card-body">
      <ul class="list-group list-group-flush mb-4">
        <li class="list-group-item">
          <strong>Title:</strong> <%= listing.title %>
        </li>
        <li class="list-group-item">
          <strong>Description:</strong> <%= listing.description %>
        </li>
        <li class="list-group-item">
          <strong>Price:</strong> &#8377; <%= listing.price.toLocaleString("en-IN") %>
        </li>
        <li class="list-group-item">
          <strong>Location:</strong> <%= listing.location %>
        </li>
        <li class="list-group-item">
          <strong>Country:</strong> <%= listing.country %>
        </li>
        <li class="list-group-item">
          <strong>Owner:</strong> <%= listing.owner.username %>
        </li>
      </ul>
      
      <div class="row">
       
        <div class="col">
          <a href="/listings/<%= listing.id %>/edit" class="btn btn-dark mb-3 " style="width: 6rem;">Edit</a>
        </div>
        <div class="col">
          <form method="POST" action="/listings/<%= listing.id %>?_method=DELETE">
            <button class="btn btn-danger mb-3 " style="width:6rem" >Delete</button>
          </form>
        </div>
        
      </div>
      <% if(currUser){%>
      <div class="mb-3 mt-3">
        <hr>
        <h4>Leave a review</h4>
        <form   action="/listings/<%= listing.id %>/reviews" method="post">
          <div>
            <label for="rating" class="form-label form-range">Rating:</label>
            <input name="review[rating]" min="1" max="5" type="range">
          </div>
         
          <div>
            <label for="comment">comment:</label>
            <textarea  required rows="5" class="form-control" name="review[comment]" id=""></textarea>
            <br>
            <button class=" btn btn-dark">submit</button>
          </div>
         

        </form>
        <%}%>
       <br>
       <h4>All reviews</h4>
       <div class="row ">
       <%for(let review of listing.reviews){%>
        <div class="card  col-5 mt-2 ms-3 ">
          <div class="card-body"></div>
          <h5 class="card-title">@<%=review.author.username%></h5>
          <p class="card-text">rating: <%= review.rating %> star</p>
          <p class="card-text">comment: <%= review.comment %></p>
          <form   method="POST" action="/listings/<%=listing.id%>/reviews/<%=review._id%>?_method=DELETE">

          <button class="btn btn-dark mb-1 " style="width:6rem">Delete</button>
        </form>
        </div>
       
     
        <% } %>
      </div>
      </div>
      
      
    </div>
  </div>
</div>
